/* For computer screens */
@media screen and (min-width: 1024px) {
}
/* For tablets */
@media screen and (max-width: 1023px) and (min-width: 768px) {
}
/* For phones */
@media screen and (max-width: 767px) {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(55, 84, 138);
  --link-color: #fafafc;
  --link-hover-color: #007BFF;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
}

/* Header */
header {
  color: #fafafc;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  height: 60vh;
  border-radius: 5px;
  background-image: url(img/CSS-in-powerapps.png);
}

.container-header_container {
  padding: 10px 10%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(73, 184, 243, 0.1);
  display: flex;
  align-items: flex-end;
}

h5 {
  font-size: 26px;
  margin: 0;
  
}

h1 {
  font-size: 46px;
  margin: 10px 0;
}


nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute; 
  top: 20px; 
  right: 20px; 
  font-size: 20px;
}

ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

ul a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
}

ul a:hover {
  background-color: #fff;
  color: var(--link-hover-color);
}
.cv-download {
  margin-top: 20px;
}

.cv-download-link {
  display: inline-block;
  background-color: #053b71;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none; /* Remove the underline */
  cursor: pointer;
}

.cv-download-link:hover {
  background-color: #0365a2;
}

/* src/components/About.css */

.about {
  padding: 20px;
   background-color: #f9f9f9;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* src/components/Skills.css */

.skills {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
  gap: 2rem;
}

li {
  font-size: 18px;
  margin-bottom: 8px;
}

/* src/components/Contact.css */

.contact {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Project.css */
.project {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Project title */
.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Project description */
.project p {
  font-size: 16px;
  line-height: 1.6;
}

/* Project technologies list */
.project ul {
  list-style: none;
  padding: 0;
  gap: 2rem;
}

/* Project technology item */
.project li {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Project links */
.project a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* Project link hover */
.project a:hover {
  background-color: #0056b3;
}

/* Project image */
.project img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.projects h2 {
  gap: 10px;
}
