/* For computer screens */
@media screen and (min-width: 1024px) {}

/* For tablets */
@media screen and (max-width: 1023px) and (min-width: 768px) {}

/* For phones */
@media screen and (max-width: 767px) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(55, 84, 138);
  --link-color: #fafafc;
  --link-hover-color: #007BFF;
}

.app {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  background-color: #fafafc;
  /* position: relative; */
}


/* Header */
header {
  background: linear-gradient(to bottom, #9166a1, #a77eb0, #e2c8e0);
  border-radius: 10px;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}


img {
  position: relative;
  right: 400px;
  width: 300px;
  height: 400px;
  border-radius: 60%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: -30px;
}

h5,
h1 {
  font-size: 28px;
  font-style: oblique;
  margin-top: 10px;
  margin: 5px;
  position: relative;
  top: 150px;
}

@media screen and (max-width: 767px) {
  header {
    padding: 10px;
  }

  h5,
  h1 {
    font-size: 18px;
    margin-top: 5px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
}



nav {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav ul {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background-color: #7352ba;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  background-color: #fff;
  color: #7352ba;
}

.cv-download-link {
  position: relative;
  left: 10px;
  top: -150px;
  right: 50%;
  transform: translateX(-50%);
  color: #fafafc;
  background-color: #7352ba;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;

}

.cv-download-link:hover {
  background-color: #fff;
  color: var(--link-hover-color);
}


/*About.css */
.about-container {
  background-color: #f4e1f1;
  color: #121212;
  box-shadow: 5px 5px 10px #293337;
  border-color: blanchedalmond;
  border-radius: 5px;
}

h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* Skills.css */

.skills {
  background-color: #f4e1f1;
  color: #121212;
  box-shadow: 5px 5px 10px #293337;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 20px;
  gap: 5rem;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
}


/* ul li img {
  width: 100px;
  height: 100px;
} */

h2 {
  font-size: 25px;
  padding: 20px;
}

/*Contact.css */

.contact {
  background-color: #f4e1f1;
  min-height: 50vh;
  color: #121212;
  box-shadow: 5px 5px 10px #293337;
  font-size: medium;
  border-radius: 5px;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px;
}

form {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  padding: 10px 16px;
  background-color: #7352ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Project.css */
.project {
  background-color: #f4e1f1;
  min-height: 20vh;
  color: #121212;
  box-shadow: 5px 5px 10px #293337;
  border-radius: 5px;
}


/* Project title */
.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Project description */
.project p {
  font-size: 16px;
  line-height: 1.6;
}

/* Project technologies list */
.project ul {
  list-style: none;
  padding: 0;
  gap: 2rem;

}

/* Project technology item */
.project li {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Project links */
.project a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #7352ba;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* Project link hover */
.project a:hover {
  background-color: #0a0b0b;
}

/* Project image */
.project img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.projects h2 {
  gap: 10px;
}